name: Build LaTeX

permissions:
  contents: write

on:
  push:
    paths:
      - "main.tex"
      - .github/workflows/render.yml
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          args: -pdf -file-line-error -halt-on-error -interaction=nonstopmode -output-directory=build

      - name: Select PDF file
        run: |
          mkdir deploy
          cp build/main.pdf deploy/

      - name: Deploy PDF to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: deploy
          publish_branch: gh-pages
          keep_files: false
